<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <listeners>
    <listener class-name="com.SwagLabsUITest_Utility.ExtentITestNGListeners"/>
  </listeners>

  <test name="SwagLabs Tests">
    <classes>
      <class name="com.SwagLabsUITest.TestCases.Tc1_LoginTest"/>
      <class name="com.SwagLabsUITest.TestCases.Tc2_InventoryTest"/>
    </classes>
  </test>

</suite>
